/*
 * Assignment 02
 * CSS FILE
 */

 body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


header {
  background-color: #00275e;
  color: #fff;
  text-align: center;
  padding: 1.25rem;
  padding-left: 40rem;
  padding-right: 40rem;

}

img {
  width: 25rem;
}

header h2 {
  font-size: 1.5rem;
}

header p {
  font-size: 0.875rem;
  margin-top: 0.625rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.image {
width: 50%;
}

main {
  margin: 1.25rem;
}


.cont {
  text-align: center;
}

h1 {
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  align-items: center;
  justify-content: center;
}

section {
  margin-bottom: 1.25rem;
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

ul {
  list-style: disc;
  margin-left: 1.25rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  padding: 1.25rem;
  text-align: left;
}

table th {
  background-color: #00275e;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}


form {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-top: 0.625rem;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
  width: 95%;
  padding: 1.25rem;
  margin-top: 0.3125rem;
  border: 1px solid #ccc;
  border-radius: 0.1875rem;
  font-size: 0.875rem;
}

form input[type="checkbox"] {
  margin-top: 0.3125rem;
}

form input[type="submit"] {
  background-color: #00275e;
  color: #fff;
  border: none;
  border-radius: 0.1875rem;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  margin-top: 0.625rem;
}


footer {
  display: flex;
  flex-direction: column;
  background-color: #00275e;
  color: #fff;
  padding: 1.25rem;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
footer nav h2{
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer {
  display: flex;
}